@{
    ViewData["Title"] = "Панель управління";
    Layout = "/Views/Shared/_LayoutManager.cshtml";
}
<h1>@ViewData["Title"]</h1>
<h2>Вітаємо вас! Ви авторизовані</h2>
<!--
<form method='post' action="/Manager/Autorization">
    <input name="name" type="text" placeholder="логін" style="width:400px" value="@ViewBag.name" /> </br>
    <input name="password" type="text" placeholder="пароль" style="width:400px" value="@ViewBag.password" /></br>
    <input type='submit' value='авторизація' />
</form>
-->
